@media screen and (min-width: 400px) and (max-width: 900px) {
    header {
        padding: 35px;
        justify-content: space-between;
    }
    nav {
        display: none;
    }
    #menu {
        cursor: pointer;
        height: 15px;
        display: block;
    }
    header > button {
        display: none;
    }
    section {
        padding: 30px;
    }
    .main-section {
        padding: 0px;
        display: flex;
        flex-flow: column-reverse nowrap;
    }
    .main-content {
        text-align: center;
        padding: 70px 20px;
    }
    .main-content p {
        width: 100%;
        padding: 35px;
        text-align: justify;
    }
    .images {
        background-image: url(/images/bg-intro-mobile.svg);
        background-size: cover;
        height: 520px;
        width: 100%;
    }
    .cellphone-img {
        margin: 26px auto;
        background-size: cover;
        height: 580px;
        width: 470px;
    }
    .mid-section {
        text-align: center;
        display: flex;
        flex-flow: column nowrap;
    }
    .div1-midsection {
        margin-bottom: 60px;
    }
    .div1-midsection p {
        padding: 30px 0px;
    }
    .mid-section p {
        padding-bottom: 30px;
    }
    .mid-section h3 {
        padding: 25px;
        font-size: 24px;
    }
    .div-icons {
        margin: 15px 0px;
    }
    article > div {
        margin: 25px 0px;
        background-color: white;
    }
    article > div:hover {
        cursor: pointer;
    }
    article h4 {
        font-size: 22px;
    }
    article p {
        line-height: 1.8em;
        padding: 18px 0px;
    }
    .thumbnails {
        width: 100%;
        height: 230px;
        border-radius: 6px;
    }
    .social-medias {
        padding: 20px 0px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        gap: 12px;
        list-style: none;
    }
    .other-links {
        padding: 10px 0px 25px 0px;
    }
    .other-links li {
        padding: 10px 0px;
    }    
    span {
        display: block;
        padding: 15px 0px;
        font-size: 13px;
    }
    button {
        padding: 18px 0px;
        width: 180px;
    }
    .license {
        padding: 25px 0px;
    }
    #linksHidden {
        background-color: white;
        width: 80%;
        display: flex;
        padding: 15px;
        flex-flow: column nowrap;
        align-items: center;
        position: absolute;
        top: 18%;
        left: 10%;
        border-radius: 8px;
    }
    #linksHidden a {
        color: var(--dark-blue);
        text-decoration: none;
        font-weight: bolder;
        padding: 10px 0px;
    }
    #linksHidden a:hover {
        color: lime;
    }
    p {
        line-height: 1.8em;
    }
}