@media screen and (min-width: 1170px) and (max-width: 1920px){
    .main-section {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    .main-content {
        margin: 90px;
        width: 35%;
    }
    .main-content h1{
        font-size: 50px;
    }
    .main-content p {
        padding: 36px 0px;
    }
    .images {
        width: 60%;
        background-position: center left;
        position: relative;
    }
    .cellphone-img {
        width: 90%;
        height: 130%;
        position: absolute;
        right: 4px;
        top: 6px;
    }
    .mid-div {
        display: grid;
        grid-template-columns: 23% 23% 23% 23%;
        gap: 28px;
    }
    .div1-midsection {
        width: 55%;
        padding-bottom: 20px;
    }
    .div1-midsection p {
        padding: 25px 0px;
    }
    .parent-thumbs {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        gap: 10px;
    }
    .parent-thumbs > div > div {
        padding: 0px 12px;
    }
    .parent-thumbs h4 {
        padding-top: 12px;
        font-size: 22px;
    }
    article p {
        line-height: 1.8em;
        padding: 18px 0px;
    }
    .thumbnails {
        width: 100%;
        padding-bottom: 12px;
        height: 220px;
    }
    footer {
        display: flex;
        flex-flow: row nowrap;
        gap: 100px;
        align-items: center;
        justify-content: space-between;
        padding: 70px;
    }
    .footer-div1 {
        width: 550px;
        display: flex;
        flex-flow: row wrap;
        gap: 35px;
    }
    .other-links {
        font-size: 19px;
    }
    .other-links  li {
        margin: 15px 30px;
    }
    ul {
        display: inline-block;
    }
    li {
        margin: 6px 0px;
    }
    footer button {
        margin-bottom: 20px;
    }
    button {
        width: 180px;
        font-size: 12px;
        font-weight: bold;
        padding: 20px 0px;
    }
    h3 {
        font-size: 26px;
    }
    p {
        line-height: 1.5em;
        font-size: 20px;
    }
}