@media screen and (min-width: 900px) and (max-width: 1170px) {
    .main-section {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    .main-content {
        margin: 90px;
        width: 40%;
    }
    .main-content p {
        padding: 38px 0px;
    }
    .images {
        width: 45%;
        background-position: center left;
    }
    .cellphone-img {
        width: 50%;
        height: 95%;
        position: absolute;
        right: 1px;
        top: 20%;
    }
    .mid-div {
        display: grid;
        grid-template-columns: 23% 23% 23% 23%;
        gap: 28px;
    }
    .div1-midsection {
        width: 45%;
        padding-bottom: 20px;
    }
    .div1-midsection p {
        padding: 25px 0px;
    }
    .parent-thumbs {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        gap: 10px;
    }
    .parent-thumbs > div {
        padding: 0px 12px;
    }
    article h4 {
        font-size: 22px;
    }
    article p {
        line-height: 1.8em;
        padding: 18px 0px;
    }
    .thumbnails {
        width: 100%;
        text-align: center;
        height: 220px;
    }
    h3 {
        font-size: 24px;
    }
    p {
        line-height: 1.8em;
        font-size: 18px;
    }
}